.contenedor{

width: 10000px;
height: 100px;
background-color: rgb(186, 172, 248);..
}



.bolis-de-queso-y-bocadillo{
width: 10000px;
height: 50px;
background-color: rgb(220, 193, 245);

}