   .quesito{

    width: 100%;

    height: 200px;

    background-color: rgb(180, 215, 245);
    text-align: center;
    font-size: 30px;
font-style: oblique;
   }
    .fresitas{

        width: 100%;

        height: 200px;

        background-color: rgb(247, 214, 242);
    }
    .uvitas{

        width: 100%;

        height: 200px;

        background-color: rgb(190, 176, 253);
    }